/* manrope-300 - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('manrope-v8-latin/Manrope-Light.ttf'); /* IE9 Compat Modes */
  }
  /* manrope-regular - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('manrope-v8-latin/Manrope-Regular.ttf'); /* IE9 Compat Modes */
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('manrope-v8-latin/Manrope-Medium.ttf'); /* IE9 Compat Modes */
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('manrope-v8-latin/Manrope-SemiBold.ttf'); /* IE9 Compat Modes */
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('manrope-v8-latin/Manrope-Bold.ttf'); /* IE9 Compat Modes */
  }
